.about-info-container {
  width: 100%;
  max-width: 1980px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutGradient {
  0% {
    background: white;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    background: linear-gradient(to bottom right, white, transparent);
    opacity: 0;
    transform: translateY(10px);
  }
}

.info-container,
.info-container-translator {
  /* width: 430px; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-out;
  transition: all 1s;
  margin-left: 50px;
}

.info-container-translator {
  margin-left: 150px;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hi {
  font-size: xx-large;
  display: flex;
  margin: 10px 0 0 30px;
  animation: textFadeIn 1s ease-in;
  transition: transform 0.3s, color 0.3s;
}

.description-container {
  width: 630px;
  height: auto;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 4px 3px 3px #00000040;
  background-color: #0693e3;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

.icons-container {
  display: flex;
}

.react-icon,
.nodejs-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.en-icon,
.fr-icon {
  width: 40px;
  height: 30px;
  border-radius: 50%;
}

h5 {
  margin: 0;
}

.about-container {
  color: #0693e3;
  margin: 0 auto;
  padding: 0px 10px;
  margin: 10px 0;
}

.about-container span {
  margin: 0 auto;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.about-h2-container {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.about-h2-container h2 {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  background-color: #0693e3;
  margin: 10px 0;
  box-shadow: 6px 6px 8px 0px #00000040;
  border-radius: 10px;
  color: white;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  color: #0693e3;
}

.education-container,
.experience-container {
  width: 250px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 6px 6px 8px 0px #00000040;
  background-color: white;
  font-size: 15px;
  padding: 0 15px 0 0;
}

.skills-container {
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 8px 0px #00000040;
  /* background-color: var(--background-color); */
}

.icon-skill-container {
  width: 50px;
  height: 50px;
  background-color: rgba(243, 243, 247, 0.795);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.icon-skill {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .info-container,
  .info-container-translator {
    width: 100%;
    margin-left: 0;
  }

  .hi {
    font-size: x-large;
    margin-left: 90px;
  }

  .description-container {
    margin: 0 auto;
    width: 350px;
    font-size: smaller;
  }

  .about-h2-container h2 {
    width: 200px;
    font-size: medium;
  }

  .education-container,
  .experience-container {
    width: 200px;
    height: 200px;
    font-size: 12px;
  }

  .skills-container {
    width: 200px;
  }

  .icon-skill-container {
    width: 40px;
    height: 40px;
  }

  .icon-skill {
    width: 30px;
    height: 30px;
  }
}
