.home-elements {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-container-home {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.photo-flow {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-flow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade-in 2s forwards;
}

.my-photo {
  border-radius: 50%;
  border: 5px solid #0693e3;
  box-shadow: 6px 6px 8px 0px #00000040;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-container-home {
  background-color: var(--background-color);
  width: 550px;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  letter-spacing: 0.01em;
  box-shadow: 6px 6px 8px 0px #00000040;
  text-align: center;
}

.text-container-home h2 {
  color: #0693e3;
}

.text-container-home p {
  color: grey;
}

@media only screen and (max-width: 768px) {
  .home-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
  }

  .img-container-home {
    margin: 0;
    padding: 0;
  }

  .my-photo {
    width: 70vw;
    max-width: 250px;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .text-container-home {
    width: 300px;
    font-size: xx-small;
    margin: 0 auto;
  }
}
