.header{ 
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.header-right{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
